.register-card {
top: 50 px;    
max-width: 600px;    
left: 600px;
right: 20px;
margin-top: 50px;
}
mat-card-content{
    margin-left: -12px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
h4{
    color:grey;
    margin-left: 12px;
    font-style: italic;
}